@model VeiligProgrammerenBlog.Models.Blog

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Blog</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="AuteurId" class="control-label"></label>
                <select asp-for="AuteurId" class ="form-control" asp-items="ViewBag.AuteurId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Titel" class="control-label"></label>
                <input asp-for="Titel" class="form-control" />
                <span asp-validation-for="Titel" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Afbeelding" class="control-label"></label>
                <input asp-for="Afbeelding" class="form-control" />
                <span asp-validation-for="Afbeelding" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Plaatsingsdatum" class="control-label"></label>
                <input asp-for="Plaatsingsdatum" class="form-control" />
                <span asp-validation-for="Plaatsingsdatum" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LaatsteUpdate" class="control-label"></label>
                <input asp-for="LaatsteUpdate" class="form-control" />
                <span asp-validation-for="LaatsteUpdate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Inhoud" class="control-label"></label>
                <input asp-for="Inhoud" class="form-control" />
                <span asp-validation-for="Inhoud" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Beeld" class="control-label"></label>
                <input asp-for="Beeld" class="form-control" />
                <span asp-validation-for="Beeld" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
